@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #010615;
}

.container
{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .caixa
{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    margin: 40px;
}
.container .caixa .imagemCaixa
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    z-index: 2;
}
.container .caixa:hover .imagemCaixa
{
    transform: translate(-35px,-35px);
}
.container .caixa .imagemCaixa img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .caixa .content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 15px;
    transition: 0.5s ease-in-out;
}
.container .caixa:hover .content
{
    transform: translate(35px,35px);
}
.container .caixa .content h2
{
    font-size: 20px;
    color: #111;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
}
.container .caixa .content h2 span
{
   font-size: 14px;
   font-weight: 300;
   letter-spacing: 2px; 
}

@media (max-width: 768px)
{
    .container .caixa:hover .content
    {
        transform: translate(0,35px);
    }
    .container .caixa:hover .imagemCaixa
    {
        transform: translate(0,-35px);
    }
}